<!doctype html>
 
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My PDF Viewer</title>
</head>
<body>
    <div id="my_pdf_viewer">
        <div id="canvas_container">
            <canvas id="pdf_renderer"></canvas>
        </div>
    </div>
    
    <div id="navigation_controls">
            <button id="go_previous">Previous</button>
            <input id="current_page" value="1" type="number"/>
            <button id="go_next">Next</button>
    </div>
</body>
</html>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js">
</script>

<script>

    var DEFAULT_URL = '../../../../Admin/Documentos/Codigo Civil.pdf';
    var SEARCH_FOR = ''; // try 'Mozilla';

    var myState = 
    {
        pdf: null,
        currentPage: 4,
        zoom: 1
    };

    // (Optionally) enable hyperlinks within PDF files.
    var pdfLinkService = new pdfjsViewer.PDFLinkService();

    // (Optionally) enable find controller.
    var pdfFindController = new pdfjsViewer.PDFFindController({
    linkService: pdfLinkService,
    });
    
    // more code here
    pdfjsLib.getDocument(DEFAULT_URL).then((pdf) => {
        // more code here
        myState.pdf = pdf;
        render();
    });

    function render() {
        myState.pdf.getPage(myState.currentPage).then((page) => {
 
            // more code here
            var canvas = document.getElementById("pdf_renderer");
            var ctx = canvas.getContext('2d');
            
            var viewport = page.getViewport(myState.zoom);

            canvas.width = viewport.width;
            canvas.height = viewport.height;

            page.render({
                canvasContext: ctx,
                viewport: viewport
            });
        });
    }
</script>