* {
	padding:0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: url(../img/brand/Logo.png)no-repeat center center fixed;
	background-size: cover;
}
.list-group{
	display: flex;

}

.fondoII {background: #EEEEEE;}

.menu_bar{
	display:none;
}

header{
	width:100%;
}

header nav {
	background: #6F1E51;
	z-index: 1000;
	/*max-width: 1000px;*/
	width: 100%;
	margin: 0 auto;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: inline-block;
	position: relative;
}

header nav ul li:hover{
	background: #833471
}

header nav ul li a {
	color: #fff;
	display: block;
	padding: 20px;
}

header nav ul li .a{
	text-decoration:none;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children{
	display: block;
}

header nav ul li .children {
	display: none;
	background: #B53471;
	position: absolute;
	width:150%;
	z-index: 1000;
}

header nav ul li .children li{
	display:block;
	overflow:hidden;
	border-bottom:1px solid rgba(255,255,255,.5);
}

header nav ul li .caret {
	position:relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

span a, span a:hover {
	text-decoration: none
}

/*Lo del perfil inicia aqui*/
	
	.items{
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		justify-content: left;
		align-items: left;
		margin-top: 15px;
	}
	.top{
		display: flex;
		width: 100%;
		/*height: 300px;*/
		justify-content: center;
		/*background: red;*/
	}

	.top .container{
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 20px 0;
	}

	.top .container .photo{
		width: 100px;
		height: 150px;
		background: none;
		display: flex;
		flex-direction: column;
	}

	.top .container .information{
		width: 270px;
		height: 150px;
		background: #63cdda;
		border-radius: 10px;
		display: flex;
	}

	.mid{
		margin-top: 90px;
		display: flex;
		width: 100%;
		justify-content: center;
		/*background: black;*/
	}

	.mid .biblio{
		width: 95%;
	}
	.mid .biblio .lmnt a{
		display: flex;
		/*justify-content: space-around;*/
		color: black; 
	}

	.lmnt{
		border-radius: 8px;
		display: flex;
		width: 100%;
		height: 50px;
		background: #63cdda;
		margin: 10px 0;
		/*flex-direction: row;*/
		align-items: center;
		justify-content: space-around;	
	}
/*Lo del perfil termina aqui*/

/*Aqui inicia la vista del PDF*/
	.fondon 
	{
    	background: ##bdc3c7;
	}

	.todo
	{
		width: 95%;
		display: flex;
		height: 85%;
	}
	.todos{
		display: flex;
	}
	.in{
		/*display: flex;*/
		height: 50%;
	}
	.bot{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
	.notas
	{
		display: flex;
		flex-direction: column;
		width: 512px;
		border-radius: 5px;
   		background-color: #CAD3C8;
    	padding: 20px;
	}

    embed:focus 
    { 
    	outline: none;
	}

/*Aqui termina la vista del PDF*/
.hey{
	display: flex;
    justify-content: center; 
}
.hey2{
	display: flex;
    justify-content: center;
}
.formp{
	display: flex;
	justify-content: center;
}
.flex-container{
	width: 350px;
  	height: 150px;
  	border: 1px solid #555;
  	font: 14px Arial;

  	/* flexbox setup */
  	display: flex;
  	flex-direction: column;
}

.botones{
	display: flex;
	justify-content: space-around;
	position: bottom;
}
.buto{
	display: flex;
	flex-direction: row-reverse;
	margin-right: 20px;
	margin-left: 20px;
}
.contenedor{
	width: 75%;
	height: 170px;
	background: none;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}

.item{
	border-radius: 15px;
	background: lightblue;
	color: #000;
	text-align: justify-all;
	font-size: 14px;
	flex: none;
	width: calc((100% - 20px)/3);
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	
	padding: 0 2em ;
}
.item2{
		border-radius: 15px;
		background: lightblue;
		color: #000;
		flex: none;
		width: calc((100% - 20px)/2);
		margin-bottom: 10px;
		display: flex;
		/*justify-content: space-around;
		align-items: center;*/
		justify-content: space-between;
		padding: 2em 0;
}
.item3{
		border-radius: 15px;
		background: lightblue;
		color: #000;
		flex: none;
		width: calc((100% - 20px));
		margin-bottom: 10px;
		display: flex;
		justify-content: left;
		text-align: left;
		align-items: center;
		justify-content: space-between;
		padding: 2em 0;
}

.item a, .item2 a, .item3 a{
	color: #000;
}

.itext{
		display: flex;
		flex-direction: column;
	}

.contenedor2{display: none;}
.contenedor3{display: none;}
@media screen and (max-width:900px){
	body, .buto {
		padding-top: 80px;
	}
	.contenedor{display: none;}
	.contenedor3{display: none;}
	.contenedor2{
		width: 75%;
		height: 190px;
		background: none;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;	
	}
	.botones{
		display: flex;
		flex-direction: column;
	}
	.itext{
		display: block;
		/*justify-content: space-around;
		line-height: 10px;*/
	}

	.item2{
		border-radius: 15px;
		background: lightblue;
		color: #000;
		flex: none;
		width: calc((100% - 20px)/2);
		margin-bottom: 10px;
		display: flex;
		/*justify-content: space-around;
		align-items: center;*/
		justify-content: space-between;
		padding: 2em 0;
	}
	.item3{
			border-radius: 15px;
			background: lightblue;
			color: #000;
			flex: none;
			width: calc((100% - 20px));
			margin-bottom: 10px;
			display: flex;
			justify-content: left;
			text-align: left;
			align-items: center;
			justify-content: space-between;
			padding: 2em 0;
	}
	
	.menu_bar {
		display: block;
		width: 100%;
		position: fixed;
		top:0;
		background: #57606f;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 30%;
		height: calc(100% - 80px);
		position: fixed;
		right: 100%;
		margin: 0;
		overflow-y:scroll;
	}

	header nav ul li {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}
	body header nav ul li a:hover{
		text-decoration:  none; 
	}



	header nav ul li:hover .children{
		display:none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left: 20px;
	}

	header nav ul li .caret {
		float: right;
	}
}
@media screen and (max-width:600px){
	.contenedor{display: none;}
	.contenedor2{display: none;}
	.contenedor3{
		width: 75%;
		height: 190px;
		background: none;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;	
	}

	.item3{
		border-radius: 15px;
		background: lightblue;
		color: #000;
		flex: none;
		width: calc((100% - 20px));
		margin-bottom: 10px;
		display: flex;
		justify-content: left;
		text-align: left;
		align-items: center;
		justify-content: space-between;
		padding: 2em 0;
	}
	.top .container{
		display: flex;
		width: 100%;
		flex-direction: column;
		margin: 20px 0;
	}

	.top .container .photo{
		width: 100px;
		height: 150px;
		background: none;
		display: flex;
		flex-direction: column;
		margin-bottom: 100px;
	}
	.top .container .information{
		width: 100%;
		height: 150px;
		background: #63cdda;
		border-radius: 10px;
		display: flex;

	}
}
.forma{
	margin-top: 100px;
	height: 200px;
	width: 45%;
	background: #bdc3c7;
	border-radius: 15px;

}

form .row {
	display: flex;
	justify-content: space-around;

}

.but{
	background: #7f8c8d;
}
.but:hover{
	background-color:#6F1E51; 
}

.form-container input, label{
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 7px;
}